@media only screen and (max-width: 768px) {
    /* Users */
    .allUsers {
        display: flex;
        overflow-x: auto;
  
      }
      .userBox {
        border: 1px solid rgb(44, 43, 43);
        margin: 5px;
        border-radius: 5px;
        flex: 0 0 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       }
       .userBox > * {
        margin: 5px;
       }
       .userBox > button {
        color: white;
        background-color: blueviolet;
        padding: 5px 14px;
        border-radius: 5px;
       }
       .userBox >p{
        color: rgb(109, 105, 105);;
       }
      
    /* Post header*/
    .post-header{
        display: flex;
        place-items: center;
        justify-content: space-between;
        padding:0px 10px 0px 10px;
        margin: 5px;
    }
    .circle{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        border: 1px solid grey;

    }
    .fullName{
        display: flex;
        flex-direction: column;
    }
    .myText{        
        background-color: black;
        color: white;
        outline: 3px solid black;
        box-sizing: border-box;
        width: 100%;
    }
    .FeedBox{
        box-sizing :border-box;
    }
    img{
        width: 100%;
    }
    .show-user{
        flex-shrink: 0;
    }
    .heading-menu-item{
        list-style-type: none;
    }
    .btn-imagePicker-filterBox {
        display: flex;
        padding: 5px;
        justify-content: flex-end;
      } 

    /* Filter */
    .filterBox {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        font-size: 18px;
    }
    .filterBox-icon{
          position: relative;
          display: inline-block;
      }
      .filterBox-types{
        position: absolute;
        left: 100%;
        transform: translateX(-120px);
        background-color: black;
        border: 1px solid violet;
        padding: 10px;
      }
    .filterBox-types >*{
        font-size: 16px;
       
    }
    .heading-filterbox{
        margin: 0%;
    }
    /* Post Footer */
    .post-footer{
        display: flex;
    }
}

.btn{
    background-color: rgba(70, 133, 250, 0.959);
    color: white;
}
body{
    background-color: black;
    color: white;
}
.container-body{
    margin-top: 65px;
}